@import "fonts.css";
@import "navigation.css";

:root {
  font-family: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-stretch: 75% 125%;
  font-style: normal;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(255, 255, 255, 0.87); */
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 1em;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}

.page-recipes {
  margin: 0;
  padding: 1em;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

nav {
  margin: 0 0 1em 0;
  padding: 0;
  height: 3em;
  width: inherit;
  background-color: #e7e5e4;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
}

nav > ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav > ul:first-of-type {
  width: 5em;
  background-color: #a8a29e;
}

nav > ul:last-of-type {
  width: 25em;
  background-color: #a8a29e;
}

nav > ul > li {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

a { 
  color: inherit;
  text-decoration: none; 
}

a:hover {
  color: #FF5733;
}

main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  background-color: #78716c;
}

h1 {
  margin: 0;
  padding: 0;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
}

.component-banner-home {
  place-content: center;
  place-items: center;
}
