@import "./fonts.css";
@import "./colors.css";

:root {
  font-family: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-stretch: 75% 125%;
  font-style: normal;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(255, 255, 255, 0.87); */
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 1em;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  color: #44403c;
}

.page-recipes {
  margin: 0;
  padding: 1em;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

nav {
  margin: 0 0 1em 0;
  padding: 0;
  height: 3em;
  width: inherit;
  border-bottom: 1px solid;
  border-color: #78716c;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
}

nav > ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
}

nav > ul:first-of-type {
  width: 5em;
}

nav > ul:last-of-type {
  width: 25em;
}

nav > ul > li {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

a { 
  color: inherit;
  text-decoration: none; 
}

a:hover {
  color: #FF5733;
}

main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  border-color: #78716c;
}

h1 {
  margin: 0;
  padding: 0;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
}

main > p > ul {
  list-style-type: none;
  padding-bottom: 4px;
   color: #78716c;
}

main > p > ul > li {
  padding-bottom: 2px;
}

main > p > ul > li > span {
  font-family: Lato-Bold;
  color: #44403c;
}

.component-banner-home {
  place-content: center;
  place-items: center;
}
